<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="d-flex flex-column vh-100">
    {% include header.html %}

    <div class="d-flex flex-column container-xl py-3 py-xl-5 flex-grow-1">
      <div class="flex-grow-1">
        {{ content }}
      </div>
      <div>
        {% include about-me.html %}
      </div>
    </div>
  
    {% include footer.html %}

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/bootstrap-5.2.3/bootstrap.bundle.min.js" | relative_url }}"></script>
  </body>
</html>
