<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="d-flex flex-column vh-100">
    {% include header.html %}

    <div class="post-container py-3 flex-grow-1 d-flex flex-column">
      <div class="flex-grow-1">
        <h6 class="text-muted">{{ page.category | upcase }}</h6>
        <h1 class="card-title">{{ page.title }}</h1>
        <h6 class="card-subtitle mb-2 text-muted">{{ page.date | date: "%d %b %Y" }}</h6>
        <p class="card-text">{{ page.content }}</p>
      </div>
      <div>
        {% include about-me.html %}
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/bootstrap-5.2.3/bootstrap.bundle.min.js" | relative_url }}"></script>
  </body>
</html>
